{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "rules": {
    "arrow-body-style": 0,
    "indent": [2, 4],
    "react/jsx-indent": [2, 4],
    "react/prop-types": 0,
    "flowtype/require-parameter-type": 1,
    "flowtype/require-return-type": [
        1,
        "always",
        {
            "annotateUndefined": "never"
        }
    ],
    "flowtype/space-after-type-colon": [
        1,
        "always"
    ],
    "flowtype/space-before-type-colon": [
        1,
        "never"
    ],
    "flowtype/type-id-match": [
        1,
        "^([A-Z][a-z0-9]+)+Type$"
    ]
  },
  "env": {
    "browser": true,
  },
}
